.hideToogle{
    display: none;
}
/*############## Contact form ################*/
#ContactForm{
    background: #1291d1  url(../img/trianglepattern.png) repeat;
    box-shadow: inset 1px 1px 10px rgba(0,0,0,0.4);
    text-shadow: 2px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
    color: #FFF;
    vertical-align: center;
}
#ContactForm textarea {
    height: 80px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    margin: 10px;
    border: none;
    resize: vertical;
}

#ContactForm label {
    color: #FFF;
}
#ContactForm h1 {
    color: #FFF;
}
#ContactForm input:not(.myButton)  {
    height: 45px;
    padding: 0px 0px 0px 20px;
    border-radius: 3px;
    background-color: white;
    border: none;
    margin: 10px;
    float: left;
}
#ContactForm input:focus:not(.myButton), #ContactForm input:active:not(.myButton), #ContactForm textarea:focus, #ContactForm textarea:active {
    outline-color:#387391;
    outline-style: solid;
    outline-width: 2px;
    background: #EEE;
}
/*############# top bar header ###############*/
.top-bar {
    position: fixed;
    width: 100%;
    z-index: 500;
    -moz-box-shadow: 0px 0px 15px 0px #656565;
    -webkit-box-shadow: 0px 0px 15px 0px #656565;
    -o-box-shadow: 0px 0px 15px 0px #656565;
    box-shadow: 0px 0px 15px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=15);
    background-color: #001444;
    -webkit-transform: translateZ(0);
}
.top-bar-section{
    background-color: #001444;    
}
.top-bar-section:hover{
    background-color: #001444;    
}
.top-bar-section li:not(.button):hover {
    background: #314266; 
    color:lightblue;
}
.top-bar-section li a:hover {
    background: #314266; 
    color:lightblue;
}
.top-bar.expanded .title-area {
    background: #001444; 
}
.name h1 a{
    font-size: 25px;
}
.top-bar-section li a:not(.button) {
    background: #001444;
    display: inline;
    height: 45px;
    padding: 1px;
    padding-left: 7px;
    padding-right: 7px;
}
.top-bar-section ul {
    background-color: #001444;
}
.top-bar-section li a:not(.button):hover{
    background: #314266;
}
.reseauxSociaux{
    display: none;
}

@media only screen and (max-width: 768px) {
    .reseauxSociaux{
        display: inline;
    }
    .name h1 a{
        font-size: 18px;
    }  
    .right{
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        display: -moz-box;
        -moz-box-orient: horizontal;
        -moz-box-pack: center;
        -moz-box-align: center;
        display: box;
        box-orient: horizontal;
        box-pack: center;
        box-align: center;
    }
    .top-bar-section li a:not(.button) {
        display: inline;
        height: 45px;
        padding: 1px;
    }
}

form {
    display: inline;
}

/*############### Boutons ################*/
.center{
    text-align: center;
}
.myButton {
    outline-width: 0;
    position: relative;
    display:inline;
    width:170px;
    height:170px;
    border-radius:100px;
    border:1px solid rgba(230,89,6,1);
    line-height:100px;
    text-shadow:0 1px 0 #fff;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-size: 2em;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    -webkit-filter: grayscale(20%);
    filter: grayscale(0.2);
}
.myButton:hover{
    text-decoration:none;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0);
}

.myButton:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
#filters{
    margin-bottom: 5px;
    margin-bottom: 0;
}
.filters{
    list-style-type: none;
    -webkit-transition: background-color .25s, color .25s, border-bottom-color .25s;
    transition: background-color .25s, color .25s, border-bottom-color .25s;
    float: left !important;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0;
    position: relative;
    top: 0;
    left: 0;
    zoom: 1;
    border: 0;
    background: 0;
}

.top-bar-section ul *:not(span){ 
    display: inline-block;
}
@media only screen and (max-width: 942px) {
    .top-bar-section ul *{ 
        padding: 5px;  
        display: inline-block;
    }
}

@media only screen and (min-width: 810px) {
    .part4:first-child {
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-topleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-background-clip: content-box;
        -webkit-background-clip: border;
    }
    .part4:last-child {
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -moz-background-clip: content-box;
        -webkit-background-clip: border;
    }
    .part4 {
        min-width: 180px;
        display: inline-block;
        position: relative;
        zoom: 1;
        margin: 0 -5px 0 0;
        padding: 10px;
        line-height: 100%;
        font-size: 1.20em;
        border: 1px solid #ccc;
        background: rgb(252,252,252);
        background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(224,224,224,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(224,224,224,1)));
        background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%);
        background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=0 );
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease;
    }
    .part4:hover:not(.active .li-toolbar) {
        background: rgb(252,252,252);
        background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1)));
        background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%);
        background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 );
        background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%);
    }
    .part4:active:not(.active .li-toolbar) {
        -webkit-box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2),inset 0px -10px 20px rgba(0,0,0,0.07);
        -moz-box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2),inset 0px -10px 20px rgba(0,0,0,0.07);
        box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2),inset 0px -10px 20px rgba(0,0,0,0.07);
        border-left: 1px solid #ccc;
    }
    .active:not(.li-toolbar){
        -webkit-box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2),inset 0px -10px 20px rgba(0,0,0,0.07);
        -moz-box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2),inset 0px -10px 20px rgba(0,0,0,0.07);
        box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2),inset 0px -10px 20px rgba(0,0,0,0.07);
        border-left: 1px solid #ccc;
        background: #EEE;
    }
    .part4:hover:not(.active){
        text-decoration: underline;
    }

    .part4 a{
        color: #555;
    }
    .li-toolbar a{
        color: #888;
    }
    .list-inline{
        margin-top: 1px;
        list-style-type: none;
        display: block;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    /*=====toolsbar =============================*/
    .li-toolbar{
        min-width: 240px;
        background: #FAFAFA;
        padding: 7px;
        font-size: 1.0em;
        box-shadow: 0 -3px 0 0 rgba(30,0,0,0.25), 0 -3px 0 0 #FAFAFA;
    }
    .li-toolbar:first-child{
        -webkit-border-radius: 0 0 0 5px; 
        border-radius: 0 0 0px 5px;
    }
    .li-toolbar:last-child{
        -webkit-border-radius: 0 0 0 5px; 
        border-radius: 0px 0px 5px 0px;
    }
    .li-toolbar:hover:not(.active){
        box-shadow: 0 -3px 0 0  #9FA8BE;
        background: #FAFAFA;
        text-decoration:underline
    }
    .part4:hover:not(.active) *{
        color: #4B70A8;
    }
    .active.li-toolbar{
        box-shadow: 0 -3px 0 0 #6397E4, 0 -3px 0 0 #FAFAFA;
        background: #EDEDF7;
        color: #000;
    }
    .active.part4 *{
        /* font-weight: 700; */
    }
    .list-sort.selected{
        color: #555;
    }
}
/* ============petit triangle=============*/
#sort-by::after { 
    border: solid #ccc; 
    border-width: 1px 1px 0 0; 
    top: 34px;
    content: ' '; 
    display: block; 
    height: 10px;
    left: 32px;
    position: absolute; 
    width: 10px; 
    z-index: 99; 
    -webkit-transform: rotate(-45deg); 
    -webkit-transform-origin: 50% 50%; 
    background: rgb(249, 249, 255);
}
@media only screen and (min-width: 810px) {
    .part4.active::after { 
        content:'';
        display:block;
        position:absolute;
        bottom:0px; /*should be set to -border-width x 2 */
        left:80px;
        width:0;
        height:0;
        border-color: transparent transparent #6397E4 transparent; /*border color should be same as div div background color*/
        border-style: solid;
        border-width: 6px;
    }
    .li-toolbar.active::after { 
        content:'';
        display:block;
        position:absolute;
        top: -1px;
        left:110px;
        border-color: #6397E4 transparent  transparent  transparent; /*border color should be same as div div background color*/
        border-width: 5px;
    }
}
footer{
    text-align: center;  
    width: 100%;
    color: #888;
    padding: 15px;
    padding-top: 25px;
    background: #1b1b1b;
}
footer h1{
    color: #999;
    font-size: 1.8em;
}

hr {
    background-color: #333;
    color: #d4d4d4;
    height: 1px;
    border: 0px;
    clear: both;
    width: 60%;
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
}
.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: none;
}
#sort-by-X {
    position: absolute;
    display: block;
    text-align: right;
    right: 3%;
    width: 100px;
    z-index: 25;
}
.select-sort{
    color: rgb(106, 107, 107);
    text-align: center;
    min-width: 110px;
    padding: 10px;
    line-height: 100%;
    font-size: 1.0em;
    border: 1px solid #ccc;
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(224,224,224,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(224,224,224,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=0 );
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.select-sort {
    display: inline-block;
}
.select-sort:hover {
    color: #6397E4;
}
#select1 {
    display: inline-block;
    padding: 3px;
    -webkit-border-radius: 100px; 
    border-radius: 10px;
}
#options-content{
    position: absolute;
    left: 0;
    width: 100%;
}
#options{
    margin-bottom: 85px;
}
#sort-by{
    list-style-type: none;

    display: inline-block;
}
ul#sort-by{
    display:none;
    background: rgb(249, 249, 255);
    width: 110px;
    float: bottom;
    padding: 7px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #ccc;
}
.actions:hover ul#sort-by, ul#sort-by:hover{
    margin: 0px;
    display: block;
    text-align: center;
    margin-top: 1px;
}


#sort-by a{
    color: #555;
    font-size: 0.9em;
}
#sort-by a:hover{
    color: #1291d1;
}
#sort-by .selected{
    color: #222;
    font-weight: 700;
}

.active a{
    color: #6397E4;
}