.top-bar {
    position: fixed;
    width: 100%;
    z-index: 500;
    -moz-box-shadow: 0px 0px 15px 0px #656565;
    -webkit-box-shadow: 0px 0px 15px 0px #656565;
    -o-box-shadow: 0px 0px 15px 0px #656565;
    box-shadow: 0px 0px 15px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=15);
    background-color: #001444;
}
.top-bar-section{
    background-color: #001444;    
}
.top-bar-section:hover{
    background-color: #001444;    
}
.top-bar-section li:not(.button):hover {
    background: #314266; 
    color:lightblue;
}
.top-bar-section li a:hover {
    background: #314266; 
    color:lightblue;
}
.top-bar.expanded .title-area {
    background: #001444; 
}
.name h1 a{
    font-size: 25px;
}
.top-bar-section li a:not(.button) {
    background: #001444;
    display: inline;
    height: 45px;
    padding: 1px;
    padding-left: 7px;
    padding-right: 7px;
}
.top-bar-section ul {
    background-color: #001444;
}
.top-bar-section li a:not(.button):hover{
    background: #314266;
}
.reseauxSociaux{
    display: none;
}

@media only screen and (max-width: 768px) {
    .reseauxSociaux{
        display: inline;
    }
    .top-bar-section ul {
        background-color: #001333;
    }
    .name h1 a{
        font-size: 18px;
    }  
    .right{
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        display: -moz-box;
        -moz-box-orient: horizontal;
        -moz-box-pack: center;
        -moz-box-align: center;
        display: box;
        box-orient: horizontal;
        box-pack: center;
        box-align: center;
    }
    .top-bar-section li a:not(.button) {
        display: inline;
        height: 45px;
        padding: 1px;
    }
}