.hideToogle{
    display: none;
}
/*############## Contact form ################*/
#ContactForm{
    background-color: #EED;
    padding-top: 15px;
    -webkit-box-shadow: 0px 2px 4px 4px #EEE;
    box-shadow: 0px 2px 4px 4px #EEE;
}
#ContactForm label {
    color: #444;
}
/*############# top bar header ###############*/
.top-bar {
    position: fixed;
    width: 100%;
    z-index: 500;
    -moz-box-shadow: 0px 0px 15px 0px #656565;
    -webkit-box-shadow: 0px 0px 15px 0px #656565;
    -o-box-shadow: 0px 0px 15px 0px #656565;
    box-shadow: 0px 0px 15px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=15);
    background-color: #001444;
    -webkit-transform: translateZ(0);
}
.top-bar-section{
    background-color: #001444;    
}
.top-bar-section:hover{
    background-color: #001444;    
}
.top-bar-section li:not(.button):hover {
    background: #314266; 
    color:lightblue;
}
.top-bar-section li a:hover {
    background: #314266; 
    color:lightblue;
}
.top-bar.expanded .title-area {
    background: #001444; 
}
.name h1 a{
    font-size: 25px;
}
.top-bar-section li a:not(.button) {
    background: #001444;
    display: inline;
    height: 45px;
    padding: 1px;
    padding-left: 7px;
    padding-right: 7px;
}
.top-bar-section ul {
    background-color: #001444;
}
.top-bar-section li a:not(.button):hover{
    background: #314266;
}
.reseauxSociaux{
    display: none;
}

@media only screen and (max-width: 768px) {
    .reseauxSociaux{
        display: inline;
    }
    .top-bar-section ul {
        background-color: #001333;
    }
    .name h1 a{
        font-size: 18px;
    }  
    .right{
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        display: -moz-box;
        -moz-box-orient: horizontal;
        -moz-box-pack: center;
        -moz-box-align: center;
        display: box;
        box-orient: horizontal;
        box-pack: center;
        box-align: center;
    }
    .top-bar-section li a:not(.button) {
        display: inline;
        height: 45px;
        padding: 1px;
    }
}

form {
    display: inline;
}

/*############### Boutons ################*/
.myButton {

    -moz-box-shadow:inset 0px 1px 0px 0px #276873;
    -webkit-box-shadow:inset 0px 1px 0px 0px #276873;
    box-shadow:inset 0px 1px 0px 0px #276873;

    background-color:#001444;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    border:1px solid #29668f;

    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:6px 24px;
    text-decoration:none;

    text-shadow:0px 1px 0px #3d768a;

}
.myButton:hover {

    background-color:#0f1199;
}
.myButton:active {
    position:relative;
    top:1px;
}
.headFilter a {
    background-color: red;
}
.headFilter a:active {
    background-color: green;
}

/*ISOTOPE HEAD*/
.filterHead {
    margin-bottom: 4px;

    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.filterHead:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}
.filterHead:active {
    position:relative;
    top:1px;
}

#options div .filterHead.selected{
	-moz-box-shadow:inset 0px 1px 0px 0px #525275;
	-webkit-box-shadow:inset 0px 1px 0px 0px #525275;
	box-shadow:inset 0px 1px 0px 0px #525275;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000144), color-stop(1, #42437a));
	background:-moz-linear-gradient(top, #000144 5%, #42437a 100%);
	background:-webkit-linear-gradient(top, #000144 5%, #42437a 100%);
	background:-o-linear-gradient(top, #000144 5%, #42437a 100%);
	background:-ms-linear-gradient(top, #000144 5%, #42437a 100%);
	background:linear-gradient(to bottom, #000144 5%, #42437a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000144', endColorstr='#42437a',GradientType=0);
	background-color:#000144;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #020338;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ad98ad;
}
#options div .filterHead.selected:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #42437a), color-stop(1, #000144));
	background:-moz-linear-gradient(top, #42437a 5%, #000144 100%);
	background:-webkit-linear-gradient(top, #42437a 5%, #000144 100%);
	background:-o-linear-gradient(top, #42437a 5%, #000144 100%);
	background:-ms-linear-gradient(top, #42437a 5%, #000144 100%);
	background:linear-gradient(to bottom, #42437a 5%, #000144 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#42437a', endColorstr='#000144',GradientType=0);
	background-color:#42437a;
}
#options div .filterHead.selected:active {
	position:relative;
	top:1px;
}

