<div>
    <div class="container">
        <div class="row header">
            <div class="col s8 left-wrap">
                <a ng-href="#/{{'en' |translate}}" class="waves-effect waves-base">
                    <div class="left-wrap">
<!--                        <i class="back-icon mdi-hardware-keyboard-backspace medium"></i>-->
                        <h1 translate="Home">Home</h1>
                    </div>
                </a>
                <i class="mdi-hardware-keyboard-arrow-right" style="font-size:3em;"></i>
                <h1 translate="About">About</h1>
            </div>
            <div class="col s4 right">
                <ng-include src="'views/partials/lang.html'"> </ng-include>
            </div><!--End col-->
        </div><!--End row-->


        <p  style="margin-top:40px;">
            <span translate="webOnMit">This website are Created by myself, and is totaly open-source under MIT licence</span>.</br>
    <span translate="codeIsOn">Code is available on</span>
    <a href="https://github.com/thomasNDS/thomasNDS.github.io" target="_blank" class="waves-effect waves-base"> Github <i class="socicon socicon-github" style="font-size:0.8em;"></i></a>
    </p>

<h2 class="subtitle" translate="technologiesUsed">Technologies used:</h2> 
<ul class="circle-list">
    <li>  <a href="https://angularjs.org/" class="waves-effect waves-base" target="_blank">AngularJS</a>
        <span translate="DescrAngular">javascript MVC framework, to structure the website</span>.</li>
    <li>
        <a href="http://materializecss.com/icons.html" class="waves-effect waves-base" target="_blank">Materialize</a>
        <span translate="descrMaterialize">CSS framework based on </span>
        <a href="http://www.google.com/design/spec/material-design/introduction.html" class="waves-effect waves-base" target="_blank">Google material design.</a>
    </li> 
    <li>
        <a href="http://lesscss.org/" class="waves-effect waves-base" target="_blank">
            LESS</a>
        <span translate="descrLess">framework for css code</span>.
    </li>
    <li><span translate="colorsFrom">Colors from </span>
        <a href="https://github.com/mrmlnc/material-color" class="waves-effect waves-base" target="_blank">
            material-color
        </a><span class="palette"></span>.
    </li>
</ul>

</div><!--End container -->
</div>

<script>
    $(document).ready(function() {
        Waves.displayEffect();
    });
</script>