<div ng-controller="MainCtrl as mc">

    <div class="container">
        <div class="row">
            <div class="col s12 right">
                <a class="big-icons" ng-href="#/about">
                    <i class=" mdi-action-info-outline medium waves-effect waves-base"></i>
                </a>
                <ng-include  src="'views/partials/lang.html'"> </ng-include>
            </div><!--End col-->
        </div><!--End row-->

        <h1 class="no-margin">Thomas Nunes</h1> 
        <h2 class="subtitle" translate="subtitle">Web and mobile developer</h2>
        <p>
            <span translate="frenchEngineer">I am a french engineer and this is my personal website.</span><br/>
            <span translate="myIntership">I just finished my final intership at</span>
            <a href="#modalOrange" class="link-pop modal-trigger waves-effect waves-base">Orange (OAB)</a> 
            <span translate="in">in</span> 
            <a href="#modalGrenoble" class="link-pop modal-trigger waves-effect waves-base">Grenoble (France)</a>
            <span translate="softwareEngineer"> as a software engineer working on BPM (Business Process Management).</span>
            <span translate="iStudy">I currently study business management at </span>
            <a href="#modalIAE" class="link-pop modal-trigger waves-effect waves-base" translate="iae">Grenoble IAE</a>.
        </p>
        <p>
            <span translate="availableToWork"> I will be available to work in May 2015</span>.<br/>
            <span translate="contactMe"> Please contact me throw socials networks. </span>
        </p>
        <div id="footer" class="social-icons valign-wrapper">
            <a data-position="top" data-delay="150" data-tooltip="Linked'in"
               href="http://fr.linkedin.com/in/thomasnunesdasilva/en" target="_blank" class="waves-effect waves-base slowTooltip">
                <span class="socicon socicon-linkedin"></span>
            </a>
            <a data-position="top" data-delay="150" data-tooltip="Twitter"
               href="https://twitter.com/ThomasNDS" target="_blank" class="waves-effect waves-base slowTooltip">
                <span class="socicon socicon-twitter"></span>
            </a>
            <a data-position="top" data-delay="150" data-tooltip="Viadeo"
               href="http://fr.viadeo.com/fr/profile/thomas.nunes1" target="_blank" class="waves-effect waves-base slowTooltip">
                <span class="socicon socicon-viadeo"></span>
            </a>
            <a data-position="top" data-delay="150" data-tooltip="Github"
               href="https://github.com/thomasNDS/" target="_blank" class="waves-effect waves-base slowTooltip"> 
                <span class="socicon socicon-github"></span>
            </a>
        </div>
    </div><!--End container -->

    <!-- Modal Orange -->
    <div id="modalOrange" class="modal">
        <h4>Orange (OAB)</h4>
        <p translate="descrOrange">Orange</p>
        <a ng-href="{{'moreOrange' | translate}}" target="_blank" class="waves-effect waves-base"> 
            <span translate="moreOnWikipedia">More on wikipedia</span>
            <i class="mdi-action-launch"></i>
        </a>
        <br/>
        <br/>
        <div class="action-bar right">
            <button class="btn waves-effect waves-dark modal-close blue-grey" type="submit" name="action">Close
                <i class="mdi-navigation-close right"></i>
            </button>
        </div>
    </div>
    <!--END modal Orange-->

    <!-- Modal Grenoble -->
    <div id="modalGrenoble" class="modal">
        <h4>Grenoble (France)</h4>
        <p translate="descrGrenoble">Orange</p>
        <a ng-href="{{'moreGrenoble' | translate}}" target="_blank" class="waves-effect waves-base"> 
            <span translate="moreOnWikipedia">More on wikipedia</span>
            <i class="mdi-action-launch"></i>
        </a>
        <br/>
        <br/>
        <div class="action-bar right">
            <button class="btn waves-effect waves-dark modal-close blue-grey" type="submit" name="action">Close
                <i class="mdi-navigation-close right"></i>
            </button>
        </div>
    </div>
    <!--END modal Grenoble--> 

    <!-- Modal IAE -->
    <div id="modalIAE" class="modal">
        <h4>IAE</h4>
        <p translate="descrIAE">IAE</p>
        <a ng-href="{{'moreIAE' | translate}}" target="_blank" class="waves-effect waves-base"> 
            <span translate="moreOnWikipedia">More on wikipedia</span>
            <i class="mdi-action-launch"></i>
        </a>
        <br/>        <br/>
        <div class="action-bar right">
            <button class="btn waves-effect waves-dark modal-close blue-grey" type="submit" name="action">Close
                <i class="mdi-navigation-close right"></i>
            </button>
        </div>
    </div>
    <!--END modal IAE-->



</div><!--End controller-->
<script>
    $(document).ready(function(){
        $('.modal-trigger').leanModal({opacity: .32});
        $('.slowTooltip').tooltip({delay: 1200});
    });
</script>