<div ng-controller="MainCtrl as mc">

    <div class="container">
        <div class="row">
            <div class="col s12 right">
                <a ng-href="#/about">
                    <i class="big-icons mdi-action-info-outline medium waves-effect waves-base"></i>
                </a>
                <ng-include  src="'views/partials/lang.html'"> </ng-include>
            </div><!--End col-->
        </div><!--End row-->

        <h1 class="no-margin">Thomas Nunes</h1> 
        <h2 class="subtitle" translate="subtitle">Web and mobile developer</h2>
        <p>
            <span translate="frenchEngineer">I am a french engineer and this is my personal website.</span><br/>
            <span translate="myIntership">I just finished my final intership at</span>
            <a class="link-pop">Orange Business Service</a> 
            <span translate="in">in</span> 
            <a class="link-pop">Grenoble (France)</a>
            <span translate="softwareEngineer"> as a software engineer working on BPM (Business Process Management).</span>
            <span translate="iStudy">I currently study business management at </span>
            <a class="link-pop descr" translate="iae">Grenoble IAE</a>.
        </p>
        <p>
            <span translate="availableToWork"> I will be available to work in May 2015</span>.<br/>
            <span translate="contactMe"> Please contact me throw socials networks. </span>
        </p>

        <div id="footer" class="social-icons valign-wrapper">
            <a href="http://fr.linkedin.com/in/thomasnunesdasilva/en" target="_blank" class="waves-effect waves-base">
                <span class="socicon socicon-linkedin"></span>
            </a>
            <a href="https://twitter.com/ThomasNDS" target="_blank" class="waves-effect waves-base">
                <span class="socicon socicon-twitter"></span>
            </a>
            <a href="http://fr.viadeo.com/fr/profile/thomas.nunes1" target="_blank" class="waves-effect waves-base">
                <span class="socicon socicon-viadeo"></span>
            </a>
            <a href="https://github.com/thomasNDS/" target="_blank" class="waves-effect waves-base"> 
                <span class="socicon socicon-github"></span>
            </a>
        </div>
    </div><!--End container -->
</div><!--End controller-->
