<!--Contact -->
<div id="contactForm" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <h1  data-stellar-ratio="0.9" class="fade"><a href="#contactForm" class="white"> Contact </a> </h1>
            <!--google form-->
            <form class="" action="https://docs.google.com/spreadsheet/formResponse?formkey=dGRpME5UQ1I4dTJHSlBwNFZ1RDZIVFE6MA&amp;embedded=true&amp;ifq" method="POST" id="ss-form">
                <div data-stellar-ratio="0.90" class="fade">
                    <label  class="left ss-q-title" for="entry_2">E-mail:</label>
                    <label class="ss-q-help" for="entry_2"></label>
                    <input placeholder="Votre e-mail *" type="text" name="entry.2.single" value="" class="form-control ss-q-short" id="entry_2">
                </div>
                <div data-stellar-ratio="0.90" class="fade">
                    <div class="ss-form-entry">
                        <label class="left ss-q-title" for="entry_5">Message:</label>
                        <label class="ss-q-help" for="entry_5"></label>
                        <div class="">
                            <textarea placeholder="Votre message" name="entry.5.single" rows="8" cols="75" class="form-control ss-q-long" id="entry_5" ></textarea>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="pageNumber" value="0">
                <input type="hidden" name="backupCache" value="">
                <div class="">
                    <br/>
                    <div data-stellar-ratio="0.95" class="fade sendContainer">
                        <input class="btn btn-success sendContact" type="submit" name="submit" value="Envoyer">
                    </div>
                </div>
            </form>
        </div>
    </div> 
</div>
<!--ENd google form -->