<header id="header-main-page">
    <div id="header-main-page-message">
        <h1 id='header-main-page-title'>Hello !</h1> 
        <div id="header-main-subtitle">
            <p>I am Thomas Nunes,<br/>
                a french engineer and this is my personnal website.<p>
        </div>
        <a class="scroll-link" href="#skills">
            <div class="halfCircle bot-center">

                <span class="glyphicon glyphicon-chevron-down click-down"></span>

            </div>
        </a>
    </div>
</header>