<div class="menu menu-corner">
    <li>
        <a class="big-icons waves-effect waves-base" data-activates="dropdown1">
            <div>
                <i class="mdi-content-flag medium"></i> 
                <span class="lang">EN</span>
            </div>
        </a>
        <ul class="dropdown">
            <li class="waves-effect waves-light" ><a href="#">English</a></li>
            <li class="waves-effect waves-light" ><a  href="#">Français</a></li>
        </ul>
    </li>
</div>


<script>
    $(document).ready(function() {
        $('.menu').dropit();
        Waves.displayEffect();
    });
</script>