<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="public/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="public/js/libs/icheck.min.js"></script>
<script type="text/javascript" src="public/js/libs/respond.min.js"></script>
<script type="text/javascript" src="public/js/libs/stellar.js"></script>
<script type="text/javascript" src="public/js/src/stellarConfig.js"></script>
<script type="text/javascript" src="public/js/libs/jquery-easing.js"></script>
<script>
</script>