<div id="footer">
    <div class="container">
        <ul class="footer-list">
            <li><a href="{{site.t[page.lang].more.url}}" id="about-footer" rel="tooltip" data-toggle="tooltip" data-placement="left" title=""
                   data-original-title="{{site.t[page.lang].more.name}}">
                <span class="mdi-action-info-outline footer-icon" style="font-size:1.80em"></span>
                </a></li>
            <li><a href="http://fr.linkedin.com/in/thomasnunesdasilva/en" target="_blank"
                   rel="tooltip" data-toggle="tooltip" data-placement="left" title=""
                   data-original-title="Linkedin (EN & FR)">
                <span class="socicon socicon-linkedin footer-icon"></span></a></li>
            <li><a href="https://github.com/thomasNDS/" target="_blank"
                   rel="tooltip" data-toggle="tooltip" data-placement="left" title=""
                   data-original-title="Github (EN)">
                <span class="socicon socicon-github footer-icon"></span></a></li>
            <li><a href="http://fr.viadeo.com/fr/profile/thomas.nunes1" target="_blank"
                   rel="tooltip" data-toggle="tooltip" data-placement="left" title=""
                   data-original-title="Viadeo (FR)">
                <span class="socicon socicon-viadeo footer-icon"></span></a></li>
            <li><a href="https://twitter.com/ThomasNDS" target="_blank"
                   rel="tooltip" data-toggle="tooltip" data-placement="left" title=""
                   data-original-title="Twitter (EN)">
                <span class="socicon socicon-twitter footer-icon"></span></a></li>
        </ul>
    </div><!--End container-->
</div><!--End footer-->
