<div class="navbar navbar-danger">

    <div id="cont-logo" class="navbar-header active">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="/img/tn.svg" alt="Thomas Nunes" class="logo"/>
        </a>
    </div>
    <div class="container">
        <!--Content navbar-->
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0)" class=" withripple">Blog<div class="ripple-wrapper"></div></a></li>

                <li><a href="javascript:void(0)" class=" withripple">About<div class="ripple-wrapper"></div></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown ">
                    <a href="javascript:void(0)" class="dropdown-toggle withripple li-bar-icon" data-toggle="dropdown"> <i class="mdi-social-person-add bar-icon"></i>
                        <div class="ripple-wrapper"></div></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://fr.linkedin.com/in/thomasnunesdasilva/en" target="_blank">
                            <span class="socicon socicon-linkedin"></span> Linked In</a></li>
                        <li><a href="https://github.com/thomasNDS/" target="_blank">
                            <span class="socicon socicon-github"></span> Github</a></li>
                        <li><a href="http://fr.viadeo.com/fr/profile/thomas.nunes1" target="_blank">
                            <span class="socicon socicon-viadeo"></span> Viadeo</a></li>
                        <li><a href="https://twitter.com/ThomasNDS" target="_blank">
                            <span class="socicon socicon-twitter"></span> Twitter</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle withripple" data-toggle="dropdown">English <b class="caret"></b><div class="ripple-wrapper"></div></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">English</a></li>
                        <li><a href="javascript:void(0)">Français</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

