// Material colors palette
$red: #F44336 !default;
$pink: #E91E63 !default;
$purple: #9C27B0 !default;
$deeppurple: #673AB7 !default;
$indigo: #3F51B5 !default;
$lightblue: #03A9F4 !default;
$cyan: #00BCD4 !default;
$teal: #009688 !default;
$lightgreen: #8BC34A !default;
$lime: #CDDC39 !default;
$lightyellow: #FFEB3B !default;
$orange: #FF9800 !default;
$deeporange: #FF5722 !default;
$grey: #9E9E9E !default;
$bluegrey: #607D8B !default;
$brown: #795548 !default;
$lightgrey: #ECECEC !default;

.footer-list{
    margin-top: 12px;
    margin-bottom: 4px;
}
.footer-list>li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.footer-icon{
    font-size: 1.5em;
    color: rgba(199, 103, 98, 0.6);
}
.footer-icon:hover{
    color: rgb(199, 103, 98);
}
#about-footer:hover{
    text-decoration: none;
}

//hack
.navbar .btn-link, .navbar .btn-link:focus, .navbar .navbar-link{
    color: #333 !important;
    text-transform: none !important;
}
.navbar .btn-link:hover, .navbar .navbar-link:hover{
    color: $brown !important;
}

.btn-well{
    bottom: 24px;
    right: -12px;
}

.well a:hover, .well a:focus{
    text-decoration: none !important;
}
.well a:hover>*, .well a:focus>* {
    color: $brown !important;
}


.list-group .list-group-item .row-picture img.circle-hover{
    margin-top: 10px;
    margin-bottom: 10px;
}


.list-group .list-group-item .row-picture:before {
    pointer-events: none;
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: 10px;
    left: 16px;

    box-shadow: 0 0 0 2px #999;
    transition: all 0.3s;
}
.list-group .list-group-item .row-picture:hover:before {
    box-shadow: 0 0 0 2px $grey, 0 0 0 5px white, 0 0 0 9px $lightgrey;
}

.time-blog{
    font-size:0.75em;
    color: $grey;
}



