// Material colors palette
$red: #F44336 !default;
$pink: #E91E63 !default;
$purple: #9C27B0 !default;
$deeppurple: #673AB7 !default;
$indigo: #3F51B5 !default;
$lightblue: #03A9F4 !default;
$cyan: #00BCD4 !default;
$teal: #009688 !default;
$lightgreen: #8BC34A !default;
$lime: #CDDC39 !default;
$lightyellow: #FFEB3B !default;
$orange: #FF9800 !default;
$deeporange: #FF5722 !default;
$grey: #9E9E9E !default;
$bluegrey: #607D8B !default;
$brown: #795548 !default;
$lightgrey: #ECECEC !default;

// Bootstrap shades
$primary: #4285F4 !default;
$success: #0F9D58 !default;
$info: $lightblue !default;
$warning: $deeporange !default;
$danger: $red !default;

.en:lang(en), .fr:lang(fr), .zh:lang(zh){
    font-weight: bold;
}
$brand-primary: #b93b3b !default;

@import "_bootstrap.scss";
@import "ripples.scss";

.logo{
    width: 52px;
    padding-right: 3px;
    margin-top: -2px;
}
#cont-logo{
    background: rgba(0, 0, 0, 0.05);
}

$footer: 52px;
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin-bottom:  -$footer;
  /* Pad bottom by footer height */
  padding: 0 0 $footer;
}

/* Set the fixed height of the footer here */
#footer {
  height: $footer;
//  background-color: $grey;
    text-align: center;
}


.dropdown-menu li a:hover, .dropdown-menu-default li a:hover, .dropdown-menu-primary li a:hover{
    color: $brown !important;
}
