$material-font-path: "../fonts";

// Material colors palette
$red: #F44336 !default;
$pink: #E91E63 !default;
$purple: #9C27B0 !default;
$deeppurple: #673AB7 !default;
$indigo: #3F51B5 !default;
$lightblue: #03A9F4 !default;
$cyan: #00BCD4 !default;
$teal: #009688 !default;
$lightgreen: #8BC34A !default;
$lime: #CDDC39 !default;
$lightyellow: #FFEB3B !default;
$orange: #FF9800 !default;
$deeporange: #FF5722 !default;
$grey: #9E9E9E !default;
$bluegrey: #607D8B !default;
$brown: #795548 !default;
$lightgrey: #ECECEC !default;

// Bootstrap shades
$primary: #8E8E8E !default;
$success: #0F9D58 !default;
$info: #bf7171 !default;
$warning: $deeporange !default;
$danger: $red !default;

$brand-primary: #b93b3b !default;

@import "ripples.scss";

body .btn-primary:not(.btn-link):not(.btn-flat){
    background-color: $primary;
    text-transform: none;
    font-weight: 700;
}

#return:before{
    font-family: Material-Design-Icons !important;
    content: "\e893" !important;
    vertical-align: bottom;
}
