/*To set the footer in the bottom of the page*/
body,html{
    height:100%;
    min-height:100%;
}
wrap{
    min-height:100%;
}
#main{
    min-height:350px;
}

/*footer correction*/
.footer-copyright {
    margin-top: 20px;
}

/*BADGES*/
.footer-nav .nav-item >.badge-default{
    color: #434a54;
}

/*Contact form*/
#contactForm {
    background: #1291d1 url(../../../img/trianglepattern.png) repeat;
    box-shadow: inset 1px 1px 10px rgba(0,0,0,0.4);
    text-shadow: 2px 1px 1px rgba(0,0,0,0.2);
    color: #FFF;
    min-height: 100%;
    padding: 35px;
}
.sendContainer{
    text-align: center;
}
.sendContact{
    padding: 10px 40px 10px 40px;
}
#contactForm h1{
    text-align: center;
}

/*scroll button*/
.scrollup>img{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/*test*/
#stellar{
    height: 1050px;
    min-height: 0px;
    overflow: hidden;
}

.fade{
    -webkit-transition: all 1s ease-out;
    opacity: 0; 
}

.on-show {
    opacity: 1;
    display: block;
}

