.thumbnail-formations{
    min-height: 150px;
}
.formations-img-content{
    margin-top: 10px;
    min-height: 100px;
}
.button-bar-thumbnail{
    margin-right: 5px;
}
#formation-container{
    background: #444 url(../img/texture/skulls.png) repeat fixed center;
    min-height: 100%;
}