/*To set the footer in the bottom of the page*/
body,html{
    height:100%;
    min-height:100%;
    /*background: #FCFCFC;*/
}
.grey-back{
    background: #E6E6E6;
}
.container-part{
    padding-top: 25px;
    padding-bottom: 25px;
}
wrap{
    min-height:100%;
}
#main{
    min-height:350px;
}

/*footer correction*/
.footer{
    background: #434A54 url(../img/texture/stardust.png);
}
.footer-copyright {
    margin-top: 20px;
}
/*BADGES*/
.footer-nav .nav-item >.badge-default{
    color: #434a54;
}
/*colors*/
.white{
    color: white;
}
.white:hover{
    color: #DDD;
}

/*Contact form*/
#contactForm {
    background: #1291d1 url(../img/texture/trianglepattern.png) repeat fixed;
    box-shadow: inset 1px 1px 10px rgba(0,0,0,0.4);
    text-shadow: 2px 1px 1px rgba(0,0,0,0.2);
    color: #FFF;
    padding: 35px;
}
.sendContainer{
    text-align: center;
}
.sendContact{
    padding: 10px 40px 10px 40px;
}
#contactForm h1{
    text-align: center;
}

/*scroll button*/
.scrollup>img{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/*test*/
#stellar{
    height: 1050px;
    min-height: 0px;
    overflow: hidden;
}
.fade{
    -webkit-transition: all 1s ease-out;
    opacity: 0; 
}
.on-show {
    opacity: 1;
    display: block;
}
.separate-margin200{
    margin-bottom: 200px;
}
.separate-margin100{
    margin-bottom: 100px;
}


.title-section{
    margin-bottom: 20px;
}
.element-description{
    text-align: justify;
}

/*sections on white*/
.element-frame:hover{
    border: solid 1px rgba(72, 207, 173, 0.33);
}
.element-frame{
    border:1px solid transparent;
    min-height: 450px;
    padding-bottom: 20px;
}
.exp-img-content{
    min-height: 90px;
    margin-bottom: 5px;
}
.thumbnail .text-corner-right{
    bottom: 20px;
    right: 24px;
}
.text-corner-right{
    position: absolute;
    bottom: 0;
    right: 10px;
}
/*standard groups*/ 
.element-date{
    font-weight: 700;
    color: #656D78;
}