#header-main-page{
    min-height: 100%;
    background: #444 url(../img/texture/stardustblack.png) repeat fixed center;
    box-shadow: inset 1px 1px 10px rgba(0,0,0,0.4);
    text-shadow: 2px 1px 1px rgba(0,0,0,0.2);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}
#header-main-page-title{
    font-size: 3.2em;
}
#header-main-subtitle{
    font-size: 1.3em;
}
#header-main-page-message{
    margin: auto;
    position: absolute;
    top: 25%; left: 0; bottom: 0; right: 0;
}
.halfCircle{
     height:50px;
     width:100px;
     border-radius: 100px 100px 0 0;
     -moz-border-radius: 100px 100px 0 0;
     -webkit-border-radius: 100px 100px 0 0;
     background: rgba(245, 247, 250, 0.19);
     color: #656D78;
}
.halfCircle:hover{
     background: rgba(245, 247, 250, 0.39);
     color: #656D78;
}
.bot-center{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left:auto;
    margin-right:auto;
}
.click-down{
    margin-top: 14px;
    font-size: 1.8em;
}