/*SIDEBAR--------------------------------------------------------------------*/
.affix-top {
    position: absolute;
}
.affix-bottom {
     position: absolute;
}
.affix{
    position: fixed;
    top: 30%;
}
.affix-top, .affix, .affix-bottom{
    right: 0;
    z-index: 1;
}

/* All levels of nav */
.sidebar .nav > li > a {
    display: block;
    color: #434a54;
    padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #E6E9ED;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #434a54;
    background-color: transparent;
    border-left: solid 3px #48CFAD;
}
/* Nav: second level */
.sidebar .nav .nav {
    /*margin-bottom: 8px;*/
    display: none;
}
.sidebar .nav li.active .nav {
    /*margin-bottom: 8px;*/
    border-left: solid 3px #48CFAD;
    display: block;
}
.sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}
