
.skill-element{
    display: inline;
    margin: 1.5px;
    padding: 2px 2px 2px 4px;
    font-size: 1.05em;
    color: #79818D;
    border:1px solid transparent;
}
.skill-element:hover{
    border: solid 1px rgba(72, 207, 173, 0.16);
    background: rgba(72, 207, 173, 0.08);
}

.skill-element.skill-medium{
    font-size: 1.2em;
    color: #6C747F;
}

.skill-element.skill-good{
    font-size: 1.35em;
    color: #535B66;
}

.skill-element.skill-expert{
    font-size: 1.50em;
    color: #434a54;
}