.title-section{
    margin-bottom: 20px;
    font-size: 3em;
    padding-left: 20px;
}
.anchor:hover{
    color: #656D78;
}
.anchor{
    font-size: 0.65em;
    color: #434A54;
    visibility: hidden;
    position: absolute;
    margin-left: -30px;
    margin-top: 10px;
}

.title-section:hover .anchor, .anchor:hover{
    visibility: visible;
}