<div ng-controller="MainCtrl as mc">

    <div class="container">
        <div class="row">
            <div class="col s12 right">
                <a href="#/about">
                    <i class="big-icons mdi-action-info-outline medium waves-effect waves-base"></i>
                </a>
                <ng-include  src="'views/lang.html'"> </ng-include>
            </div><!--End col-->
        </div><!--End row-->

        <h1>Thomas Nunes</h1> 
        <p>I am a french engineer and this is my personal website.<br/>
            I just finished my final intership at
            <a class="link-pop company">Orange Business Service</a> in
            <a class="link-pop city">Grenoble (France)</a> as a software engineer working on BPM (Business Process Management).
            <br/>
            I currently study business management at 
            <a class="link-pop descr">Grenoble IAE</a> and will be available to work in May 2015 <br/>
            Please contact me throw socials networks. {{1 + 1 }}
        </p>
        {{'languages' | translate}}
        <div id="footer" class="social-icons valign-wrapper">
            <a href="http://fr.linkedin.com/in/thomasnunesdasilva/en" target="_blank" class="waves-effect waves-base">
                <span class="socicon socicon-linkedin"></span>
            </a>
            <a href="https://twitter.com/ThomasNDS" target="_blank" class="waves-effect waves-base">
                <span class="socicon socicon-twitter"></span>
            </a>
            <a href="http://fr.viadeo.com/fr/profile/thomas.nunes1" target="_blank" class="waves-effect waves-base">
                <span class="socicon socicon-viadeo"></span>
            </a>
            <a href="https://github.com/thomasNDS/" target="_blank" class="waves-effect waves-base"> 
                <span class="socicon socicon-github"></span>
            </a>
        </div>
    </div><!--End container -->
</div><!--End controller-->
