</div>
<a href="#" class="scrollup" style="display: none;"><img src="public/img/backtotop.png" alt="TOP"/></a>
<footer class="footer">
    <div class="container">
        <div class="clearfix text-center">
            <dl class="footer-nav">
                <dt class="nav-title">TAGS</dt>
                <dd class="nav-item"><a class="badge badge-default" href="#">SmartCampus</a></dd>
                <dd class="nav-item"><a  class="badge badge-default" href="#">RobAIR</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">SOCIAL</dt>
                <dd class="nav-item"><a href="#">Linkedin</a></dd>
                <dd class="nav-item"><a href="#">Viadeo</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">THOMAS NUNES</dt>
                <dd class="nav-item"><a href="#">Me !</a></dd>
                <dd class="nav-item"><a href="#">Contact</a></dd>
                <dd class="nav-item"><a href="#">My Projects</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">Made with</dt>
                <dd class="nav-item"><a href="#">Jquery</a></dd>
                <dd class="nav-item"><a href="#">HTML5</a></dd>
                <dd class="nav-item"><a href="#">CSS3</a></dd>
                <dd class="nav-item"><a href="#">Bootstrap</a></dd>
                <dd class="nav-item"><a href="#">Stellar.js</a></dd>
                <dd class="nav-item"><a href="#">Bootflat</a></dd>
                <dd class="nav-item"><a href="#">Blogify</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">About</dt>
                <dd class="nav-item"><a href="#">Licence MIT</a></dd>
                <dd class="nav-item"><a href="#">Host via Github</a></dd>
            </dl>
        </div>
        <div class="footer-copyright text-center">Copyright © 2014 Thomas Nunes - Few rights reserved</div>
    </div>
</footer>
</div>
</body></html>